.bgnavy {
    background-image: radial-gradient(#063168, #0000d1);
}

.bgdark {
    background-color: #3a3a3a;
}
/*<<<<<<<<<<<<<<<<<<<  ANIME >>>>>>>>>>>>>>>>>> */


#carouselImg {
    position: relative;
    z-index: -3;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.anime {
    width: clamp(30%, 400px, 65%);
    position: relative;
    border-radius: 20px;
    background-color: hsla(0, 0%, 7%, 0.95);
    margin-top: 130px;
}

.anime::after,
.anime::before {
    content: '';
    background-image: conic-gradient(from var(--angle), rgb(4, 2, 83), rgb(0, 195, 255), blue, rgb(92, 92, 247),  rgb(0, 195, 255), rgb(4, 2, 83));
    height: calc(100% + 3px);
    width: calc(100% + 3px);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    animation: 1.5s spin linear infinite;

}

.anime::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}